# AAA.sublime-project is kept in the repository, workspace is not
AAA.sublime-workspace

# All user-created levels are stored locally and ignored in the repository
Levels/*.txt
Levels/*.txt.meta

# Unity-related ignores
Library/
Temp/

#VS-related ignores
*.csproj
*.user
*.userprefs
*.sln
