# All user-created levels are only stored locally, except testLevel
[Ll]evels/*.txt
# testLevel is an exception which will be removed later in the dev process
![Ll]evels/testLevel.txt
# NoProj is a folder designated for non-tracked items
NoProj/

# Unity-related ignores
[Ll]ibrary/
[Ll]ogs/
[Pp]ackages/*
![Pp]ackages/manifest.json
[Tt]emp/

# VisualStudio-related ignores
*.csproj
*.sln
*.userprefs

# Sublime-related ignores (AAA.sublime-project is kept)
*.sublime-workspace
